/*Hero Section*/
.hero-section {
  background-color: var(--heroSection);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 50px;
  gap: 20px;
}
.hero-section-img1 {
  width: 150px;
  padding-bottom: 200px;
}
.hero-section-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 500px;
  padding: 20px;
}
.hero-section-component-p1 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--hero-section-primary-color);
}
.hero-section-component-h1 {
  font-size: 20px;
  color: var(--hero-section-text-color);
  padding-bottom: 10px;
}
.hero-section-component-p2 {
  font-size: 16px;
  color: #666;
}
.hero-section-shop-btn {
  background-color: var(--hero-section-primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.6s all ease-in-out;
}
.hero-section-shop-btn:hover {
  color: var(--hero-section-primary-color);
  transition: 0.8s all ease-in-out;
  background-color: white;
}
.hero-section-img2 {
  width: 400px;
}
