body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9ff;
}

header {
    background-color: #7e33e0;
    color: white;
    padding: 10px 0;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: rgba(20, 5, 5, 0.908);
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.account-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f1f1f1;
}

.account-section h2 {
    font-size: 28px;
    color: #140625;
}

.breadcrumb {
    color: #07040a;
    margin-bottom: 20px;
}

.login-box {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #fb2e86;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* ################################################################### */

/*sign up*/


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9ff;
}

header {
    background-color: #7e33e0;
    color: white;
    padding: 10px 0;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: rgba(20, 5, 5, 0.908);
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.account-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f1f1f1;
}

.account-section h2 {
    font-size: 28px;
    color: #140625;
}

.breadcrumb {
    color: #07040a;
    margin-bottom: 20px;
}

.login-box {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #fb2e86;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
