/* Custom Properties (Variables) */
:root {
  /* Colors */
  --purple-color: #fb2e86;
  --serchBar: #fb2e86;
  --heroSection: #f6f5ff;
  --shop-slider-header: #fff;
  --hero-section: #f8f5ff;
  --hero-section-primary-color: #ff007f;
  --hero-section-text-color: #222;
  --text-main: #151875;
  --text--prmary: #b0b0b5;
  --text-label: #3f509e;
  --text-input: #e7e6ef;
  --text--side-bar: #7e81a2;
  --product-title: #111c85;
  --discount-price: #ff2aaa;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

/* Utility Classes */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Shared Component Styles */
/* Header */
/* Shop-slider page styling*/
header {
  /* background-color: var(--shop-slider-header); */
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}
/* nav-bar => site name*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.nav-bar .site-name {
  font-size: 30px;
  text-decoration: none;
  color: black;
  width: auto;
  margin-right: auto;
  margin-left: 30px;
  transition: 0.6s ease-in-out;
  font-weight: bold;
}
.nav-bar .site-name:hover {
  transform: scale(1.2);
  transform: 0.8s ease-in-out;
  color: rgba(71, 73, 73, 0.716);
}
/* nav-bar => site links*/
.nav-bar-links {
  width: 300px;
  display: flex;
  margin-left: 30px;
  margin-right: 10px;
  gap: 30px;
  justify-content: center;
}
.nav-bar-links .home-page {
  color: var(--purple-color);
}
.nav-bar-links a {
  text-decoration: none;
  color: var(--purple-color);
  transition: 0.4s all ease-in-out;
}
.nav-bar-links .home-page:hover,
.nav-bar-links a:hover {  
  transform: 0.8s ease-in-out;
  color: rgba(71, 73, 73, 0.716);
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  gap: 2px;
}
.search-bar input {
  border: solid 3px rgba(40, 37, 37, 0.242);
  border-radius: 5px;
}

.search-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgba(40, 37, 37, 0.242);
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background-color: var(--purple-color);
  color: white;
  cursor: pointer;
}
/*Hero Section*/
.hero-section {
  background-color: var(--heroSection);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 50px;
  gap: 20px;
}
.hero-section-img1 {
  width: 150px;
  padding-top: 1%;
}
.hero-section-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 500px;
  padding: 20px;
}
.hero-section-component-p1 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--hero-section-primary-color);
}
.hero-section-component-h1 {
  font-size: 20px;
  color: var(--hero-section-text-color);
  padding-bottom: 10px;
}
.hero-section-component-p2 {
  font-size: 16px;
  color: #666;
}
.hero-section-shop-btn {
  background-color: var(--hero-section-primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.6s all ease-in-out;
}
.hero-section-shop-btn:hover {
  color: var(--hero-section-primary-color);
  transition: 0.8s all ease-in-out;
  background-color: white;
}
.hero-section-img2 {
  width: 400px;
  padding-top: 5%;
}
